
// OVERRIDES

.kuraitis {

	.aboutUs {
		.content-block p {
			max-width: 750px;
			margin: 0 auto 20px;
		}

		.content-block strong {
			font-size: 20px;
		}
	}

	.site-nav__link {
		font-size: 19px;
		font-weight: 500;
		font-family: "Unica One","HelveticaNeue","Helvetica Neue",sans-serif;
	}

	.site-footer__copyright {
		font-size: 15px;
	}

	.site-footer {
		padding-bottom: 32px;
	}

	.site-header__logo {
		span {
			margin-top: 25px;
			margin-left: 15px;
			display: inline-block;

			@media only screen and (max-width: 749px) {
				margin-left: 0;
				margin-top: 20px;
			}
		}

		img {
			display: inline-block;
			float: left;
		}
	}

	@media only screen and (min-width: 750px) {
		.site-header__upper {
			padding-top: 0;
			padding-bottom: 0;
			padding-left: 0;
		}
	}

	@media only screen and (max-width: 749px){
		.site-header__upper {
			padding-top: 0;
			padding-bottom: 0;
		}
		.site-header__shop-name--small {
			width: 172px;
			margin-left: -20px;

			small {
				display: none;
			}
		}
		.site-header__logo {
			span {
				max-width: 94px;
				vertical-align: top;
			}

			img {
				display: inline-block;
				float: none;
				margin-top: 10px;
			}
		}
	}

	// headings in PLP
	.product-card__info {
		font-weight: normal;
		font-family: "Unica One","HelveticaNeue","Helvetica Neue",sans-serif;
		text-transform: uppercase;
	}

	// arrow in product pages
	.product-single__thumbnails .slick-prev, .product-single__thumbnails .slick-next {
		background: #eee;
		opacity: .6;
		border: 1px solid #ddd;
		transition: background 0.15s ease-in;

		&.slick-next {
			bottom: -70px;
		}

		&:hover {
			background: #ddd;
			transition: background 0.15s ease-in;
		}

		@media only screen and (max-width: 749px){
			& {
				border: 0 none;
				background: none;
			}
		}
	}

	// recommended products
	.related-products {

		margin-top: 20px;

		h3, h4 {
			font-size: 24px;
			text-align: left;
			font-family: "Unica One","HelveticaNeue","Helvetica Neue",sans-serif !important;
			font-weight: 400;
			letter-spacing: 0.1em;
			text-transform: uppercase;
		}

		ul {
			list-style-type:none;
			overflow:hidden;
			padding-left: 20px;
		}

		&.small ul {
			* { text-align:center; padding:0 }
			h4  { border:none; margin:10px 0 0 0; line-height:1.3 }
			div.image { height:100px }
			li { float:left; width:120px; height:160px; margin-right:20px }
		}

		&.compact ul {
			* { text-align:center; padding:0 }
			h4 { border:none; margin:5px 0 2px 0; font-size: 15px }
			div.image { height:160px }
			li { float:left; width:180px; height:220px; margin-right:25px }
		}

		&.medium ul {
			* { font-size:14px; text-align:center; padding:0 }
			h4  { border:none; margin:10px 0 2px 0; line-height:1.8 }
			div.image { height:240px }
			li { float:left; width:260px; height:300px; margin-right:25px }
		}

		span.money { font-size: 14px }

		li:last-child { margin-right:0 }
	}

	// cookie consent
	.cc_container .cc_btn, .cc_container .cc_btn:visited {
		background-color: #EFEFEF;

		&:hover, &:active {
			background-color: #E0E0E0;
		}


		@media only screen and (max-width: 749px){
			& {
				margin-top: 9px;
			}
		}
	}


	.cc_container {
		padding: 6px 30px 6px;
	}

	#ly-languages-switcher {
		display: inline-block;
		margin-top: 15px;
		vertical-align: top;

		.ly-languages-switcher-link {
			margin: -3px 0 0 10px;
			vertical-align: top;
			display: inline-block;
		}
	}

	.sticky--active #ly-languages-switcher {
	}
}