
// OVERRIDES

.aboutUs {
	.content-block p {
		max-width: 750px;
		margin: 0 auto 20px;
  	}

	.content-block strong {
		font-size: 20px;
	}
}

site-nav__link {
	font-size: 19px;
    font-weight: 500;
    font-family: "Unica One","HelveticaNeue","Helvetica Neue",sans-serif;
}

.site-footer__copyright {
  font-size: 15px;
}

@media only screen and (max-width: 749px){
	.site-header__shop-name--small small {
		display: none;
	}
}